<%- include("partials/head.ejs") %>

<body>
  <%- include("partials/navbar.ejs") %>
  <%- include("partials/flash.ejs") %>

  <div class="container">
    <div id="home">
      <div id="welcome">
        <h1>find a recipe</h1>
        <form id="searchForm" method="POST" action="/home-search">
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" name="query" id="query" placeholder="Search titles...">
          </div>
        </form>
        <a class="purple" href="/search">advanced search &#62;</a>
      </div>
    </div>
    <div id="searchIng" class="row">
      <h3><a href="/ingredients">search recipes by ingredient &#62;</a></h3>
    </div>
    <div class="container newest">
      <h1>Newest Recipes</h1>
      <div class="card-row">
        <% recipes.slice(-5).forEach((recipe)=> { %>
          <div class="card">
            <a href="recipe/<%= recipe.id %>">
              <img class="card-img" alt="photo of <%= recipe.title %>" src="/imgs/<%= recipe.imagePath %>" />
            </a>
            <div class="card-body"><p class="card-title"><%= recipe.title %></p></div>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="row email">
      <h2 class="white">sign up for my newsletter</h2>
      <form id="email-form" method="POST" action="/signup">
        <div class="email-box">
          <i class="fa-solid fa-magnifying-glass email-icon"></i>
          <input type="text" name="email" id="email" placeholder="Your email address">
          <a class="btn btnGhost">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
    
  <!-- <div id="results">
    <ul id="recipeList">
      <% recipes.forEach((recipe)=> { %>
        <li><a href="recipe/<%= recipe.id %>">
            <%= recipe.title %>
        </li>
        <% }) %>
    </ul>
  </div> -->

  <%- include("partials/footer.ejs") %>
  </body>

</html>