<%- include("partials/head.ejs") %>

<body>
  <%- include("partials/navbar.ejs") %>
  <%- include("partials/flash.ejs") %>

  <div class="container">
    <div id="home">
      <div id="welcome">
        <h1>find a recipe</h1>
        <form id="searchForm" method="POST" action="/home-search">
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" name="query" id="query" placeholder="Search titles...">
          </div>
        </form>
        <a class="purple" href="/search">advanced search &#62;</a>
      </div>
    </div>
    <div id="searchIng" class="row center">
      <h3><a href="/ingredients">search recipes by ingredient &#62;</a></h3>
    </div>
    
    <%- include("partials/newest.ejs", { newest: recipes.slice(-5) }) %>

    <div class="container categories center">
      <h1>all recipe categories</h1>
      <div class="card-row">
        <div class="card">
          <a href="/search">
            <img class="card-img" alt="photo of pancakes" src="/pancakes.jpg" />
          </a>
          <div class="card-body"><p class="card-title">breakfast</p></div>
        </div>
        <div class="card">
          <a href="/search">
            <img class="card-img" alt="photo of chicken" src="/pancakes.jpg" />
          </a>
          <div class="card-body"><p class="card-title">mains</p></div>
        </div>
        <div class="card">
          <a href="/search">
            <img class="card-img" alt="photo of green beans" src="/pancakes.jpg" />
          </a>
          <div class="card-body"><p class="card-title">sides</p></div>
        </div>
        <div class="card">
          <a href="/search">
            <img class="card-img" alt="photo of bread" src="/pancakes.jpg" />
          </a>
          <div class="card-body"><p class="card-title">bread</p></div>
        </div>
        <div class="card">
          <a href="/search">
            <img class="card-img" alt="photo of blueberry muffins" src="/pancakes.jpg" />
          </a>
          <div class="card-body"><p class="card-title">dessert</p></div>
        </div>
      </div>
      <a class="btn btnPrimary" href="/search">explore all recipes</a>
    </div>
    <%- include("partials/footer.ejs") %>
  </div>
    
  <!-- <div id="results">
    <ul id="recipeList">
      <% recipes.forEach((recipe)=> { %>
        <li><a href="recipe/<%= recipe.id %>">
            <%= recipe.title %>
        </li>
        <% }) %>
    </ul>
  </div> -->

  <%- include("partials/scripts.ejs") %>
  </body>

</html>