<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>

    <div id="content">

    <h1>Insert Recipe</h1>

    <form method="post" action="/insert" enctype="multipart/form-data">
      <fieldset>
        <legend>Recipe Data</legend>
        <table>
          <tr>
            <td><label for="title">title:</label></td>
            <td>
              <input id="title" type="text" name="title" 
                value="<%= recipe.title %>" placeholder="pancakes">
            </td>
          </tr>
          <tr>
            <td><label for="servings">servings:</label></td>
            <td>
              <input id="servings" type="text" name="servings"
                value="<%= recipe.servings %>" placeholder="3">
              </td>
          </tr>
          <tr>
            <td><label for="time">time:</label></td>
            <td>
              <input id="time" type="text" name="time"
                value="<%= recipe.time %>" placeholder="30">
              </td>
          </tr>
          <tr>
            <td><label for="ingredients">ingredients:</label></td>
            <td>
              <ul id="ingredients">
                <% if (recipe.ingredients.length >= 3) { %>
                  <% recipe.ingredients.forEach((ingredient) => { %>
                    <li><input type="text" name="ingredients"
                      value="<%= ingredient %>"></li><br />
                  <% }) %>
                <% } else { %>
                  <li><input type="text" name="ingredients"
                    value="" placeholder="1 cup flour"></li><br />
                  <li><input type="text" name="ingredients"
                    value="" placeholder="2 tbsp sugar"></li><br />
                  <li><input type="text" name="ingredients"
                    value="" placeholder="1/8 tsp salt"></li><br />
                <% } %>
              </ul>
              <button id="addIng">add ingredient</button>
            </td>
          </tr>
          <tr>
            <td><label for="directions">directions:</label></td>
            <td>
              <ol id="directions">
                <% if (recipe.directions.length > 0) { %>
                  <% recipe.directions.forEach((direction) => { %>
                    <li><input type="text" name="directions"
                      value="<%= direction %>"></li><br />
                  <% }) %>
                <% } else { %>
                  <li><input type="text" name="directions"
                    value="" placeholder="mix dry ingredients"></li><br />
                  <li><input type="text" name="directions"
                    value="" placeholder="mix wet ingredients"></li><br />
                  <li><input type="text" name="directions"
                    value="" placeholder="cook in frying pan"></li><br />
                <% } %>
              </ol>
              <button id="addDir">add step</button>
            </td>
          </tr>
          <tr>
            <td><label for="photo">photo:</label></td>
            <td>
              <input id="photo" type="file" accept="image/*" name="photo" >
            </td>
          </tr>
        </table>
      </fieldset>

      <input type="submit" value="Insert Recipe" />
    </form>

    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
