<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>

    <div id="content">

    <h1>Insert Recipe</h1>

    <form id="new-form" method="post" action="/new" enctype="multipart/form-data">
      <fieldset>
        <legend>Recipe Data</legend>
        <table>
          <tr>
            <td><label for="title">title:</label></td>
            <td>
              <input id="title" type="text" name="title" 
                value="<%= recipe.title %>" placeholder="pancakes">
            </td>
          </tr>
          <tr>
            <td><label for="description">description:</label></td>
            <td>
              <textarea id="description" name="description" placeholder="a short note">
                <%= recipe.description %>
              </textarea>
            </td>
          </tr>
          <tr>
            <td><label for="servings">servings:</label></td>
            <td>
              <input id="servings" type="text" name="servings"
                value="<%= recipe.servings %>" placeholder="3" />
            </td>
          </tr>
          <tr>
            <td><label for="time">time:</label></td>
            <td>
              <input id="time" type="text" name="time"
                value="<%= recipe.time %>" placeholder="30">
              </td>
          </tr>
          <tr>
            <td><label for="reference">reference:</label></td>
            <td>
              <input id="reference" type="text" name="reference"
                value="<%= recipe.reference %>" placeholder="https://www. ...">
              </td>
          </tr>
          <tr>
            <td><label for="ingredients">ingredients:</label></td>
            <td>
              <ul id="ingredients">
                <% if (recipe.ingredients.length > 0) { %>
                  <% recipe.ingredients.forEach((ingredient) => { %>
                    <li><input type="text" name="ingredients"
                      value="<%= ingredient %>"></li><br />
                  <% }) %>
                <% } else { %>
                  <% for (let i = 0; i < 10; i++) { %>
                    <li><input type="text" name="ingredients"
                      value="" /></li><br />
                  <% } %>
                <% } %>
              </ul>
              <button id="addIng">add ingredient</button>
            </td>
          </tr>
          <tr>
            <td><label for="directions">directions:</label></td>
            <td>
              <ol id="directions">
                <% if (recipe.directions.length > 0) { %>
                  <% recipe.directions.forEach((direction) => { %>
                    <li><textarea name="directions"><%= direction %></textarea></li><br />
                  <% }) %>
                <% } else { %>
                  <% for (let i = 0; i < 5; i++) { %>
                    <li><textarea name="directions" value=""></textarea></li><br />
                  <% } %>
                <% } %>
              </ol>
              <button id="addDir">add step</button>
            </td>
          </tr>
          <tr>
            <td><label for="photo">photo:</label></td>
            <td>
              <input id="photo" type="file" accept="image/*" name="photo" >
            </td>
          </tr>
        </table>
      </fieldset>

      <input type="submit" value="Insert Recipe" />
    </form>

    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
