<%- include("partials/head.ejs") %>

  <body>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>

    <div id="content">

    <h1>Select Recipe</h1>

    <form method="GET" action="/do-select/">
      <label for="menuTt">Recipes without release dates or directors:</label>
      <select id="menuTt" name="menuTt">
        <option value="none">Choose One</option>
        <!--Fills out the drop down menu with incomplete recipes-->
        <% for (var i=0; i < recipes.length; i++) {%>
          <option value="<%= recipes[i].tt %>"><%= recipes[i].title %></option>
        <% } %>
      </select>
      <input type="submit" value="Choose">
    </form>

    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
