<%- include("partials/head.ejs") %>

  <body>

    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>



    <h1>Update Recipe</h1>

    <!-- <td><%= recipe?.title || 'None specified' %></td> -->

    <form id="update-form" method="POST" action="<%= '/update/'+recipe.id %>">
      <table>
        <tr>
          <td><label for="title">title:</label></td>
          <td>
            <input id="title" type="text" name="title" 
              value="<%= recipe.title %>">
          </td>
        </tr>
        <tr>
          <td><label for="description">description:</label></td>
          <td>
            <textarea id="description" name="description" placeholder="a short note">
              <%= recipe.description %>
            </textarea>
          </td>
        </tr>
        <tr>
          <td><label for="servings">servings:</label></td>
          <td>
            <input id="servings" type="text" name="servings"
              value="<%= recipe.servings %>">
            </td>
        </tr>
        <tr>
          <td><label for="time">time:</label></td>
          <td>
            <input id="time" type="text" name="time"
              value="<%= recipe.time %>">
            </td>
        </tr>
        <tr>
          <td><label for="reference">reference:</label></td>
          <td>
            <input id="reference" type="text" name="reference"
              value="<%= recipe?.reference || 'https://www. ...' %>">
            </td>
        </tr>
        <tr>
          <td><label for="ingredients">ingredients:</label></td>
          <td>
            <ul>
              <% recipe.ingredients.forEach((ingredient) => { %>
                <li><input type="text" name="ingredients"
                  value="<%= ingredient %>"></li><br />
              <% }) %>
            </ul>
            <button id="addIng">add ingredient</button>
          </td>
        </tr>
        <tr>
          <td><label for="directions">directions:</label></td>
          <td>
            <ol>
              <% recipe.directions.forEach((direction) => { %>
                <li><textarea name="directions"><%= direction %></textarea></li><br />
              <% }) %>
            </ol>
            <button id="addDir">add step</button>
          </td>
        </tr>
      </table>
      <input type="submit" value="update">
    </form>

    <form method="POST" action="<%= '/delete/'+recipe.id %>">
      <input type="submit" value="delete recipe">
    </form>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
