<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flash.ejs") %>

    <h1>Update Recipe</h1>

    <form id="update-form" method="POST" action="<%= '/update/'+recipe.id %>">
      <table>
        <tr>
          <td><label for="title">title:</label></td>
          <td>
            <input id="title" type="text" name="title" 
              value="<%= recipe.title %>">
          </td>
        </tr>
        <tr>
          <td><label for="notes">notes:</label></td>
          <td>
            <textarea id="notes" name="notes" placeholder="a short note"><%= recipe.notes %>
            </textarea>
          </td>
        </tr>
        <tr>
          <td><label for="servings">servings:</label></td>
          <td>
            <input id="servings" type="text" name="servings"
              value="<%= recipe.servings %>">
            </td>
        </tr>
        <tr>
          <td><label for="time">time:</label></td>
          <td>
            <input id="time" type="text" name="time"
              value="<%= recipe.time %>">
            </td>
        </tr>
        <tr>
          <td><label for="reference">reference:</label></td>
          <td>
            <input id="reference" type="text" name="reference"
              value="<%= recipe?.reference || 'https://www. ...' %>">
            </td>
        </tr>

        <fieldset>
          <legend>categories</legend>
          <div class="row categories">
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="italian" value="italian"><label for="italian">italian</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="japanese" value="japanese"><label for="japanese">japanese</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="thai" value="thai"><label for="thai">thai</label>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="single_serve" value="single serve"><label for="single_serve">single serve</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="30_min" value="30 min"><label for="30_min">30 minute</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="gluten_free" value="gluten free"><label for="gluten_free">gluten free</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="dairy_free" value="dairy free"><label for="dairy_free">dairy free</label>
              </div>
              <div class="parent-check">
                <input type="checkbox" name="categories" id="vegan" value="vegan"><label for="vegan">vegan</label>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="breakfast" value="breakfast"><label for="breakfast">breakfast</label>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="french_toast" value="french toast"><label for="french_toast">french toast</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="granola" value="granola"><label for="granola">granola</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="healthy_breakfasts" value="healthy breakfasts"><label for="healthy_breakfasts">healthy breakfasts</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="muffins" value="muffins"><label for="muffins">muffins</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="pancakes" value="pancakes"><label for="pancakes">pancakes</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="pastries" value="pastries"><label for="pastries">pastries</label>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="biscuits" value="biscuits"><label for="biscuits">biscuits</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="croissants" value="croissants"><label for="croissants">croissants</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="scones" value="scones"><label for="scones">scones</label>
                  </div>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="waffles" value="waffles"><label for="waffles">waffles</label>
                </div>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="mains" value="mains"><label for="mains">mains</label>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="soups" value="soups"><label for="soups">soups</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="salads" value="salads"><label for="salads">salads</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="pasta" value="pasta"><label for="pasta">pasta</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="pizza" value="pizza"><label for="pizza">pizza</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="poultry" value="poultry"><label for="poultry">poultry</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="seafood" value="seafood"><label for="seafood">seafood</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="beef" value="beef"><label for="beef">beef</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="tofu" value="tofu"><label for="tofu">tofu</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="vegetarian" value="vegetarian"><label for="vegetarian">vegetarian</label>
                </div>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="sides" value="sides"><label for="sides">sides</label>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="broths" value="broths"><label for="broths">broths</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="dips" value="dips"><label for="dips">dips</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="drinks" value="drinks"><label for="drinks">drinks</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="grains" value="grains"><label for="grains">grains</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="sauces" value="sauces"><label for="sauces">sauces</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="spices" value="spices"><label for="spices">spices</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="spreads" value="spreads"><label for="spreads">spreads</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="stuffing" value="stuffing"><label for="stuffing">stuffing</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="vegetables" value="vegetables"><label for="vegetables">vegetables</label>
                </div>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="bread" value="bread"><label for="bread">bread</label>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="sourdough" value="sourdough"><label for="sourdough">sourdough</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="wheat" value="wheat"><label for="wheat">wheat</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="white" value="white"><label for="white">white</label>
                </div>
              </div>
            </div>
            <div class="category-col">
              <div class="parent-check">
                <input type="checkbox" name="categories" id="desserts" value="desserts"><label for="desserts">desserts</label>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="bars" value="bars"><label for="bars">bars</label>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="blondies" value="blondies"><label for="blondies">blondies</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="brownies" value="brownies"><label for="brownies">brownies</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="protein_bars" value="protein bars"><label for="protein_bars">protein bars</label>
                  </div>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="cakes" value="cakes"><label for="cakes">cakes</label>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="mug_cakes" value="mug cakes"><label for="mug_cakes">mug cakes</label>
                  </div>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="choux" value="choux"><label for="choux">choux</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="cinnamon_rolls" value="cinnamon rolls"><label for="cinnamon_rolls">cinnamon rolls</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="cookies" value="cookies"><label for="cookies">cookies</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="frostings" value="frostings"><label for="frostings">frostings</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="fruit" value="fruit"><label for="fruit">fruit</label>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="cobblers" value="cobblers"><label for="cobblers">cobblers</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="crisps" value="crisps"><label for="crisps">crisps</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="crumbles" value="crumbles"><label for="crumbles">crumbles</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="fruit_bars" value="fruit bars"><label for="fruit_bars">fruit bars</label>
                  </div>
                  <div class="child-check">
                    <input type="checkbox" name="categories" id="pies" value="pies"><label for="pies">pies</label>
                    <div class="child-check">
                      <input type="checkbox" name="categories" id="pie_crust" value="pie crust"><label for="pie_crust">pie crust</label>
                    </div>
                  </div>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="macarons" value="macarons"><label for="macarons">macarons</label>
                </div>
                <div class="child-check">
                  <input type="checkbox" name="categories" id="quick_breads" value="quick breads"><label for="quick_breads">quick breads</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <tr>
          <td><label for="ingredients">ingredients:</label></td>
          <td>
            <ul>
              <% recipe.ingredients.forEach((ingredient) => { %>
                <li><input type="text" name="ingredients"
                  value="<%= ingredient %>"></li><br />
              <% }) %>
            </ul>
            <button id="addIng">add ingredient</button>
          </td>
        </tr>

        <div class="row">
          <label for="ingredientList">ingredients used:</label>
          <select name="ingredientList" id="ingredientList" multiple multiselect-search="true">
            <% ingredients.forEach((ingredient)=> { %>
              <option value="<%= ingredient.name %>" <% if (recipe.ingredientList.includes(ingredient.name)) { %>selected<% } %>><%= ingredient.name %></option>
            <% }) %>
          </select>
        </div>

        <tr>
          <td><label for="directions">directions:</label></td>
          <td>
            <ol>
              <% recipe.directions.forEach((direction) => { %>
                <li><textarea name="directions"><%= direction %></textarea></li><br />
              <% }) %>
            </ol>
            <button id="addDir">add step</button>
          </td>
        </tr>
      </table>
      <input type="submit" value="update">
    </form>

    <form method="POST" action="<%= '/delete/'+recipe.id %>">
      <input type="submit" value="delete recipe">
    </form>

    <script>
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    
      <% categories.forEach(category => { %>
        checkboxes.forEach(checkbox => {
          if (checkbox.value === '<%= category %>') {
            checkbox.checked = true;
          }
        });
      <% }); %>
    </script>

    <%- include("partials/scripts.ejs") %>

    <!-- <script>
      document.addEventListener('DOMContentLoaded', function() {
        const multi = document.querySelectorAll('.multiselect-dropdown');
        console.log(multi);
      });
    </script> -->
  </body>
</html>
